.wrap_item {
  display: flex;
  flex-wrap: wrap;
}

.wrap_button {
  margin-top: 10px;
  margin-left: 20px;
}

.search {
  display: flex;
}

.wrap_search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.wrap_result {
  display: flex;
  flex-wrap: wrap;
}
